html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, form, input, div {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 655px;
}

.header-list {
    flex: 1;
    text-align: right;
}

.header-list ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 20px;
    position: relative;
}

.header-list ul li a {
    color:rgb(26, 26, 26);
    text-decoration: none;
    font-size: 15px;
}

.header-list ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFD523;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.header-list ul li:hover::after {
    width: 100%;
}


.main {
    width: 100%;
    color: rgb(26, 26, 26);
    position: absolute;
    top: 50%;
    bottom: 50%;
    text-align: center;
}

.main h1 {
    font-size: 40px;
    text-align: center;
}

.main p {
    font-size: 15px;
    text-align: center;
    margin: 10px 0 40px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(26, 26, 26);
    border: 1px solid black;
    padding: 15px 35px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #FFD523;
    background: #FFD523;
    transition: 1s;
}

/*---- FYJ ----*/

.FYJ {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.FYJ h1 {
    padding-bottom: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.FYJ-links {
    background:rgb(255, 253, 231);
    margin-bottom: 5%;
    padding: 20px 12px;
    flex-basis: 22%;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 10px;
}

.FYJ-links a {
    color:rgb(34, 34, 34);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.FYJ-links p {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: rgb(34, 34, 34);
    font-weight: normal;
    text-align: center;
}

.FYJ-links:hover {
    box-shadow: 0 0 20px 0px #FFD523;
}

.bottom {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.bottom h1 {
    font-size: 30px;
    color:rgb(26, 26, 26);
    font-weight: bold;
}

/*---- Internship ----*/

.top-Intern {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.top-Intern h1 {
    padding-bottom: 10px;
}

.top-Intern h3 {
    color: rgb(34, 34, 34);
    font-weight: normal;
    font-size: 18px;
}

.row-Intern {
    height: 600px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 50% 50%;
    margin: 50px 50px;
    border: 1px solid rgb(255, 253, 231);
}

.Intern-links {
    background-image: linear-gradient(rgba(255, 249, 215, 0.7), rgba(255, 249, 215, 0.7)), url(images/ct.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.Intern-links a {
    text-decoration: none;
    color: rgba(46, 46, 46, 0.7);
    font-weight: bold;
    text-align: center;
}

.Intern-links p {
    text-align: center;
    color: rgba(46, 46, 46, 0.7);
    text-decoration: none;
    font-weight: bold;
}

.Intern-links:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.bottom-Internship {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.bottom-Internship h1 {
    text-align: center;
    color: rgb(34, 34, 34);
}

/*---- Open Innovation Hub ----*/

.oi {
    background: #FFD523;
    width: 80%;
    margin: 30px auto;
    padding-bottom: 10px;
}

.top-oi {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.top-oi h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    line-height: 5px;
}

.top-oi h3 {
    padding-bottom: 5px;
}
.bottom-oi {
    width: 80%;
    margin: auto;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}

.bottom-oi h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
    line-height: 5px;
}

.bottom-oi h3 {
    padding-bottom: 5px;
}

.info {
    width: 80%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
    text-align: center;
}

/*---- Webinar ----*/

.top-web {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.top-web h1 {
    padding-bottom: 10px;
}

.top-web h3 {
    color: rgb(34, 34, 34);
    font-weight: normal;
    font-size: 18px;
}

.row-web {
    height: 600px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 50% 50%;
    margin: 50px 50px;
    border: 1px solid rgb(255, 253, 231);
}

.Web-links {
    background-image: linear-gradient(rgba(255, 249, 215, 0.7), rgba(255, 249, 215, 0.7)), url(images/ct.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.Web-links a {
    text-decoration: none;
    color: rgba(46, 46, 46, 0.7);
    font-weight: bold;
    text-align: center;
}

.Web-links p {
    text-align: center;
    color: rgba(46, 46, 46, 0.7);
    text-decoration: none;
    font-weight: bold;
}

.Web-links:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.bottom-web {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.bottom-web h1 {
    text-align: center;
    color: rgb(34, 34, 34);
}

/*---- Job ----*/

.Job {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.Job h1 {
    padding-bottom: 10px;
}

.Job h3 {
    color: rgb(34, 34, 34);
    font-weight: normal;
    font-size: 18px;
}

.row-job {
    height: 600px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 50% 50%;
    margin: 50px 50px;
    border: 1px solid rgb(255, 253, 231);
}

.job-links {
    background-image: linear-gradient(rgba(255, 249, 215, 0.7), rgba(255, 249, 215, 0.7)), url(images/ct.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.job-links i {
    justify-content: center;
    color:yellow;
}

.job-links a {
    text-decoration: none;
    color: rgba(46, 46, 46, 0.7);
    font-weight: bold;
    text-align: center;
}

.job-links p {
    text-align: center;
    color: rgba(46, 46, 46, 0.7);
    text-decoration: none;
    font-weight: bold;
}

.job-links:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.bottom-Job {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.bottom-Job h1 {
    text-align: center;
    color: rgb(34, 34, 34);
}

/*---- Scholarship ----*/

.top-Scholarship {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}

.top-Scholarship h1 {
    padding-bottom: 10px;
}

.top-Scholarship h3 {
    color: rgb(34, 34, 34);
    font-weight: normal;
    font-size: 18px;
}

.row-scholarship {
    height: 600px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 50% 50%;
    margin: 50px 50px;
    border: 1px solid rgb(255, 253, 231);
}

.scholarship-links {
    background-image: linear-gradient(rgba(255, 249, 215, 0.7), rgba(255, 249, 215, 0.7)), url(images/ct.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

.scholarship-links i {
    justify-content: center;
    color:yellow;
}

.scholarship-links a {
    text-decoration: none;
    color: rgba(46, 46, 46, 0.7);
    font-weight: bold;
    text-align: center;
}

.scholarship-links p {
    text-align: center;
    color: rgba(46, 46, 46, 0.7);
    text-decoration: none;
    font-weight: bold;
}

.scholarship-links:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.bottom-Scholarship {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.bottom-Scholarship h1 {
    text-align: center;
    color: rgb(34, 34, 34);
}

/*---- login ----*/

a {
    text-decoration: none;
}

body {
    background: -webkit-linear-gradient(bottom,#FFD523,#c2bda8);
    background-repeat: no-repeat;
}
label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
#forgot-pass {
    color:rgb(26, 26, 26);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 3px;
    text-align: right;
}
#login {
    background:whitesmoke;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(250, 250, 250, 0.7);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}

#login-content {
    padding: 12px 44px;
}

#login-title [
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    rext-align: center;
]

#signup {
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}

#signup a {
    text-align: center;
    color: whitesmoke;
}

#submit-btn {
    background: -webkit-linear-gradient(bottom,#FFD523,#c2bda8);
    border-radius: 21px;
    border: none ;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: rgb(26, 26, 26)
    font-family: 'Poppins', sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
    text-align: center;
}

#submit-btn a {
    text-align: center;
}

#submit-btn:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    height: 1px;
    width: 100%;
    background: -webkit-linear-gradient(bottom,#FFD523,#c2bda8);
}

.form-content {
    background: rgba(250, 250, 250, 0.7);
    border: none;
    outline: none;
    padding-top: 14px;
}

.underlined-title {
    background: -webkit-linear-gradient(bottom,#FFD523,#c2bda8);
    height: 2px;
    margin: -1.1rem 0 auto;
    width: 89px;
}